.App {
  text-align: center;
}

.inp-addr{
  width:50%;
  height:25px;
  outline:none;
  padding:5px;
  display: inline-block;
  border:1px solid rgb(177, 173, 173);
  border-radius: 5px;
}
.inp-addr:hover{
  display: inline-block;
  border:1px solid skyblue;
}

.search-addr-btn{
  margin-left:10px;
   width:100px;
   height:35px;
   color:white;
   font-size: 20px;
   background-color: #0A66C2;
   outline: none;
   border: 1px solid grey;
   border-radius: 5px;
}
.block-value{
  color:blue;
}
.addr-value{
  color: blueviolet;
}
.bal-value{
  color:grey;
}